[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
celery = "*"
faker = "*"
factory-boy = "*"
flower = "*"
django-celery-results = "*"
redis = "*"
uwsgi = "*"

[dev-packages]
django-extensions = "*"

[requires]
python_version = "3.8"
